* body {
    background-image: url('pizza.jpg');

     margin-left: 250px;
     padding-left: 250px;

}
.btn {
    width: 200px;
    height: 50px;
    background-color: grey;
    color: white;
    margin: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;


}

.btn:hover {
    width: 210px;
    height: 55px;
    background-color: light-grey;
    color: red;
    margin: 10px;
    padding: 15px;
    text-align: center;
    border-radius: 20px;


}


/* RESET PASS*/

#reset_pass {
    background: lightgreen;
}